body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #09243f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1647cf;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: left;
}

.login-container input, 
.login-container button {
    width: calc(100% - 10px);
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
}

.login-container button {
    background-color: #1647cf;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #133bb1;
}

.login-container a {
    color: #1647cf;
    text-decoration: none;
    font-size: 14px;
}

.login-container a:hover {
    text-decoration: underline;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 35px;
    height: 35px;
    filter: invert(1);
}
