<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <h1>Registro de Usuario</h1>
    <form action="/registro" method="POST">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        
        <label for="password">Clave:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        
        <label for="perfil">Perfil:</label>
        <select id="perfil" name="profile" required>
            <option value="admin">Admin</option>
            <option value="entrenador">Entrenador</option>
            <option value="cliente">Cliente</option>
        </select> <br> <br>
        
        <button type="submit">Registrar</button>
    </form>
</body>
</html>