<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="icon" href="{{ url_for('static', filename='logo-active.png') }}" type="image/png">  

    <link rel="stylesheet" href="{{ url_for('static', filename='raiz.css') }}?v=1">
</head>

<body>

    <!-- Navbar transparente -->
    <nav class="navbar">
        <div class="navbar-logo">
            <!-- Imagen del logo que cambia al hacer clic -->
            <a href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
        </div>
        <div class="nav-links">
            <!-- Botones de login y registro a la derecha -->
            <a href="/preregistro">Register</a>
            <a href="/login" class="btn btn-blue">Login</a>
        </div>
    </nav>

    <!-- Contenido principal con la animación de texto -->
    <div class="content">
        <h3>Take care of your body.</h3>
        <h1 id="typed-text">
            It's the only place you have to live.<span class="typed-cursor">|</span>
        </h1>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}?v=1"></script>


</body>

</html>